<div class="container-fluid">
  <div class="row">
    <h1 class="text-center fw-bold text-dark mt-4">Real Time Products</h1>
    <div class="col-12 col-md-6">
      <div class="p-4" id="formAdd">
        <h3 class="fw-bold text-dark mt-4">Add New Product</h3>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Title of the product"
            name="title"
            id="title"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input
            type="text"
            class="form-control"
            placeholder="Description of the product"
            name="description"
            id="description"
          />
        </div>
        <div class="mb-3">
          <div class="col-6">
            <label class="form-label">Price</label>
            <input
              type="text"
              class="form-control"
              placeholder="Price of the product"
              name="price"
              id="price"
            />
          </div>
          <div class="col-6">
            <label class="form-label">Code</label>
            <input
              type="text"
              class="form-control"
              placeholder="Unique id CODE of the product"
              name="code"
              id="code"
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Image</label>
          <input
            type="text"
            class="form-control"
            placeholder="Link of the image"
            name="thumbnails"
            id="thumbnails"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Stock</label>
          <input
            type="text"
            class="form-control"
            placeholder="Stock of the product"
            name="stock"
            id="stock"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Category</label>
          <input
            type="text"
            class="form-control"
            placeholder="Category of the product"
            name="category"
            id="category"
          />
        </div>
        <input
          type="button"
          class="btn btn-success"
          value="Add Product (+)"
          id="btnAddProduct"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-4" id="formDelete">
        <h3 class="fw-bold text-dark mt-4">Delete Product</h3>
        <div class="mb-3">
          <label class="form-label">Delete Product by ID</label>
          <input
            type="text"
            class="form-control"
            placeholder="Id of the product"
            name="id"
            id="inputDeleteId"
          />
        </div>
        <input
          type="button"
          class="btn btn-danger"
          value="Delete Product (-)"
          id="btnDeleteProduct"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" id="srvResponse"></div>
  </div>
</div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/realTimeProducts.js"></script>
